body {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

html,
* {
    box-sizing: border-box;
}

html>* {
    box-sizing: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100vw;
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 40rem;
    color: #ffff;
    background: rgba(235, 233, 249, 1);
    background: rgba(212, 207, 242, 1);
    background: -moz-linear-gradient(left, rgba(212, 207, 242, 1) 0%, rgba(6, 4, 52, 1) 0%, rgba(87, 83, 154, 1) 52%, rgba(124, 119, 201, 1) 76%, rgba(161, 155, 248, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212, 207, 242, 1)), color-stop(0%, rgba(6, 4, 52, 1)), color-stop(52%, rgba(87, 83, 154, 1)), color-stop(76%, rgba(124, 119, 201, 1)), color-stop(100%, rgba(161, 155, 248, 1)));
    background: -webkit-linear-gradient(left, rgba(212, 207, 242, 1) 0%, rgba(6, 4, 52, 1) 0%, rgba(87, 83, 154, 1) 52%, rgba(124, 119, 201, 1) 76%, rgba(161, 155, 248, 1) 100%);
    background: -o-linear-gradient(left, rgba(212, 207, 242, 1) 0%, rgba(6, 4, 52, 1) 0%, rgba(87, 83, 154, 1) 52%, rgba(124, 119, 201, 1) 76%, rgba(161, 155, 248, 1) 100%);
    background: -ms-linear-gradient(left, rgba(212, 207, 242, 1) 0%, rgba(6, 4, 52, 1) 0%, rgba(87, 83, 154, 1) 52%, rgba(124, 119, 201, 1) 76%, rgba(161, 155, 248, 1) 100%);
    background: linear-gradient(to right, rgba(212, 207, 242, 1) 0%, rgba(6, 4, 52, 1) 0%, rgba(87, 83, 154, 1) 52%, rgba(124, 119, 201, 1) 76%, rgba(161, 155, 248, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4cff2', endColorstr='#a19bf8', GradientType=1);
}



nav {
    position: absolute;
    top: 0;
    padding: 1rem;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

nav img {
    position: absolute;
    top: 30px;
    left: 15px;
}

nav .sign {
    margin: 1rem;
    text-decoration: none;
    color: #ffffff;
    padding: .5rem;
    width: 10rem;
    text-align: center;

}

a.sign.green {
    background-color: hsl(163, 95%, 43%);

}

header section {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    height: 400px;

}

header .sideContent {
    width: 100%;
    height: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

header .sideContent>* {
    text-align: center;
}

a.hero-button {
    width: 10rem;
    padding: .5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: hsl(163, 95%, 43%);
}

div .hero-image {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(./images/illustration-hero.svg)
}

/*features section*/
section.content {
    min-height: 100px;
    background-color: #ffffff;
}

div.triangle {
    display: block;
    position: relative;
    width: 100;
    height: 60px;
    transform: translateY(-60px);
    background-color: #ffffff;

}

.triangle::before {
    content: '';
    position: absolute;
    z-index: -1;
    padding-bottom: 76%;
    width: 41.7%;
    background-color: inherit;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;

    transform: rotate(-38deg) skewX(46deg) translateX(-62%) translateY(-18%);
}


.content h1 {
    margin-top: -2rem;
    position: relative;
    text-align: center;
    color: hsl(243, 87%, 12%);
}

.inner-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inner-content img {
    position: relative;
    width: 40%;
    padding: 20px;
}

.side-features {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 20px;


}

.side-features section {
    width: 50%;
    padding: 1rem;
}

.side-features section h4 {
    color: hsl(243, 87%, 12%);
    text-transform: capitalize;
}

.side-features section p {
    color: hsl(0, 0%, 50%);
    font-weight: 100;
}

/*sign up section*/
.signup {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: -3rem;
    z-index: 1;
}

.signup p {
    margin-top: -2rem;
    width: 70%;
    padding: 40px;
    text-align: center;
    color: hsl(243, 87%, 12%);
    font-weight: 100;

}

.signup input {
    width: 200px;
    height: 2rem;
    padding-left: 1rem;
    color: hsl(0, 0%, 50%);
    border-radius: 5px;
    border-width: thin;
}

a.join {
    background-color: hsl(163, 95%, 43%);
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-weight: 100;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    margin-left: 2rem;
    box-shadow: 2px 1px 4px darkgrey;

}

div.slanted {
    display: block;
    position: relative;
    width: 100;
    height: 60px;
    transform: translateY(30px);
    background-color: white;

}

.slanted::before {
    content: '';
    position: absolute;
    z-index: -1;
    padding-bottom: 119%;
    width: 41.7%;
    background-color: inherit;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    transform: rotate(-38deg) skewX(46deg) translateX(-57%) translateY(-4%);
}

/*footer*/
footer {

    background: hsl(243, 87%, 12%);
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

footer section {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 10%;
}

.contact {
    margin-top: 25rem;

}

.contact .logo {
    margin-bottom: 2rem;
    align-self: left;
    left: 0;

}

.contact div {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: left;
    align-items: center;
    margin-left: 2rem;

}

.contact div img {
    height: 24px;
}

.contact div p {
    font-weight: 100;
    margin-left: 18px;
    font-size: small;
}

/*footer navigation*/
.navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.navigation div {
    width: 30%;
    height: 50%;
    margin-top: 11rem;
    padding: 2rem;

}

.navigation div:nth-child(1) {
    border-left: white solid .06rem;
}

.navigation div:nth-child(3) {
    border-right: white solid .06rem;
    padding-right: 6rem;
}

.navigation ul {
    list-style-position: inherit;
    font-weight: 100;
    list-style: none;
    padding-left: 0pt;
}

.navigation li {
    font-size: .8rem;
    margin: 0 0 10px 0;
}

/*footer join*/
.footer-join {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.footer-join p {
    margin-top: 10rem;
    font-weight: 200;
}

.footer-join input {
    height: 2rem;
    border: none;
    margin-bottom: 1rem;
}

.footer-join .join {
    text-align: center;
    box-shadow: none;
}

.footer-side {
    display: flex;
    flex-direction: row;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    header section {
        flex-direction: column-reverse !important;
    }

    nav img {
        height: 25px;
    }

    nav .sign {
        width: 5rem;

    }

    .content h1 {
        padding: 80px;
    }

    .inner-content {
        flex-direction: column;
    }

    .side-features {
        flex-direction: column;
        margin-left: 0px;
    }

    .inner-content img {
        padding: 0;
    }

    .side-features section {
        width: 90%;
    }

    .signup-form {
        display: flex;
        flex-direction: column;
    }

    .signup p {
        margin-top: -6rem;
    }

    a.join {
        margin-left: 0;
        margin-top: 1rem;
        text-align: center;
    }

    footer {
        flex-direction: column;
    }

    .contact {
        align-items: baseline;
        margin-top: 120px;
    }

    .contact .logo {
        margin-left: 2rem;
    }

    .navigation {
        flex-direction: column;
    }

    .navigation div {
        margin-top: 0rem;
        width: 100%;

    }

    .navigation div:nth-child(1) {
        border: none;
    }

    .navigation div:nth-child(3) {
        border: none;
    }

    .footer-join p {
        margin-top: 0rem;
        text-align: center;
    }

    .footer-join .join{
    	align-self: flex-end;
    }

    .footer-join .join {
        width: 50%;
    }

    .footer-side {
        flex-direction: column-reverse;
    }
}